@media (min-width: 1281px) {
  .wrapper {
    min-height: 100vh;
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    color: #fff;
    position: relative;
  }

  section {
      height: 100vh;
      font-size: 26px;
      font-weight: 100;
      background-color: #22A7F0;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align:left;
  }
  section:nth-child(1) {background: white;}
  section:nth-child(2) {background: #F64747;}
  section:nth-child(3) {background: #22A7F0;}
  section:nth-child(4) {background: #F9690E;}
  section:nth-child(5) {background: #9B59B6;}
  section:nth-child(6) {background: #03C9A9;}
  section:nth-child(7) {background: #ffcc00;}
  section:nth-child(8) {background: #F9690E;}
  section:nth-child(9) {background: #F64747;}
  section:nth-child(10) {background: #22A7F0;}
  section:nth-child(11) {background: #F9690E;}
  section:nth-child(12) {background: #9B59B6;}
  section:nth-child(13) {background: #03C9A9;}
  section:nth-child(14) {background: #ffcc00;}

  .nav__wrapper {
    position: fixed;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
  }
  .nav {
    margin: 0 0 100px 30px;
  }
  .nav__counter {
    position:absolute;
    font-size: 24px;
    transition: all 0.15s ease-out;
  }
  .nav__title {
    font-size: 32px;
    font-weight: 300;
    margin: 0 0 0.25em;
    width: 300px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.3s ease-out, opacity 0.2s ease-out;
  }
  .nav__body {
    font-weight: 100;
    font-size: 18px;
    font-size: 18px;
    width: 300px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.3s ease-out, opacity 0.2s ease-out;
  }
  .nav li {
    position: relative;
    transition: all 0.3s ease-out;
    margin-bottom: 1em;
  }
  .nav li:after {
    content: "";
    display: block;
    border-left: 2px solid white;
    border-top: 2px solid white;
    height: 250px;
    width: 20px;
    position: absolute;
    left: -30px;
    top: 15px;
  }
  .nav li a {
    display: block;
    padding: 0;
    color: #fff;
    transition: all 0.15s ease-out;
  }
  .nav li a:hover {
    background-color: transparent;
    padding-left: 1em;
  }
  .nav li a:focus {
    background-color: transparent;
  }
  .nav li.active {
    pointer-events: none;
    padding-left: 1em;
  }
  .nav li.active:after {
    width: 35px;
    height: 400px;
    top: 35px;
  }
  .nav li.active .nav__counter {
      font-size: 48px;
  }
  .nav li.active .nav__title {
      height: 40px;
      opacity: 1;
      overflow: visible;
  }
  .nav li.active .nav__body {
      height: 100px;
      opacity: 1;
      overflow: visible;
  }

  .texto_resultado{
      width:50%;
      margin-left:40%;
  }

  #filtro_tematicas{
      position:fixed;
      width:22%;
      left:5%;
      top:3%;
      font-family: "Roboto Slab", serif;
      font-size:150%;
      color:white;
      /*-webkit-text-stroke: 0.5px black;*/
      background-color:transparent;
      border-style:solid;
      border-color:white;
      border-width:1px;
      border-radius:5px;
      z-index:10;
  }

  .opciones_tematica{
      color:black;
      background:transparent;
  }

  footer{
      z-index:1;
      background-color:white;
      border-style:solid none none none;
      border-color:#e60007;
      border-width:1px;
  }

  .pie{
      width:100%;
      left:0;
      top:20%;
      font-family:"Roboto Slab";
      font-size:100%;
      color:#e60007;
      text-align:center;
  }

  #bajar{
    position:fixed;
    width:4%;
    height:auto;
    left:48%;
    bottom:2%;
    background-color:transparent;
    z-index:1;
  }
}

@media (min-width: 1025px) and (max-width: 1280px){
  .wrapper {
    min-height: 100vh;
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    color: #fff;
    position: relative;
  }

  section {
      height: 100vh;
      font-size: 26px;
      font-weight: 100;
      background-color: #22A7F0;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align:left;
  }
  section:nth-child(1) {background: white;}
  section:nth-child(2) {background: #F64747;}
  section:nth-child(3) {background: #22A7F0;}
  section:nth-child(4) {background: #F9690E;}
  section:nth-child(5) {background: #9B59B6;}
  section:nth-child(6) {background: #03C9A9;}
  section:nth-child(7) {background: #ffcc00;}
  section:nth-child(8) {background: #F9690E;}
  section:nth-child(9) {background: #F64747;}
  section:nth-child(10) {background: #22A7F0;}
  section:nth-child(11) {background: #F9690E;}
  section:nth-child(12) {background: #9B59B6;}
  section:nth-child(13) {background: #03C9A9;}
  section:nth-child(14) {background: #ffcc00;}

  .nav__wrapper {
    position: fixed;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
  }
  .nav {
    margin: 0 0 100px 30px;
  }
  .nav__counter {
    position:absolute;
    font-size: 24px;
    transition: all 0.15s ease-out;
  }
  .nav__title {
    font-size: 32px;
    font-weight: 300;
    margin: 0 0 0.25em;
    width: 300px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.3s ease-out, opacity 0.2s ease-out;
  }
  .nav__body {
    font-weight: 100;
    font-size: 18px;
    font-size: 18px;
    width: 300px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.3s ease-out, opacity 0.2s ease-out;
  }
  .nav li {
    position: relative;
    transition: all 0.3s ease-out;
    margin-bottom: 1em;
  }
  .nav li:after {
    content: "";
    display: block;
    border-left: 2px solid white;
    border-top: 2px solid white;
    height: 250px;
    width: 20px;
    position: absolute;
    left: -30px;
    top: 15px;
  }
  .nav li a {
    display: block;
    padding: 0;
    color: #fff;
    transition: all 0.15s ease-out;
  }
  .nav li a:hover {
    background-color: transparent;
    padding-left: 1em;
  }
  .nav li a:focus {
    background-color: transparent;
  }
  .nav li.active {
    pointer-events: none;
    padding-left: 1em;
  }
  .nav li.active:after {
    width: 35px;
    height: 400px;
    top: 35px;
  }
  .nav li.active .nav__counter {
      font-size: 48px;
  }
  .nav li.active .nav__title {
      height: 40px;
      opacity: 1;
      overflow: visible;
  }
  .nav li.active .nav__body {
      height: 100px;
      opacity: 1;
      overflow: visible;
  }

  .texto_resultado{
      width:50%;
      margin-left:40%;
  }

  #filtro_tematicas{
      position:fixed;
      width:22%;
      left:5%;
      top:3%;
      font-family: "Roboto Slab", serif;
      font-size:150%;
      color:white;
      /*-webkit-text-stroke: 0.5px black;*/
      background-color:transparent;
      border-style:solid;
      border-color:white;
      border-width:1px;
      border-radius:5px;
      z-index:10;
  }

  .opciones_tematica{
      color:black;
      background:transparent;
  }

  footer{
      z-index:1;
      background-color:white;
      border-style:solid none none none;
      border-color:#e60007;
      border-width:1px;
  }

  .pie{
      width:100%;
      left:0;
      top:20%;
      font-family:"Roboto Slab";
      font-size:100%;
      color:#e60007;
      text-align:center;
  }

  #bajar{
    position:fixed;
    width:4%;
    height:auto;
    left:48%;
    bottom:2%;
    background-color:transparent;
    z-index:1;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
  .wrapper {
    min-height: 100vh;
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    color: #fff;
    position: relative;
  }

  section {
      height: 100vh;
      font-size: 22px;
      font-weight: 100;
      background-color: #22A7F0;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align:left;
  }
  section:nth-child(1) {background: white;}
  section:nth-child(2) {background: #F64747;}
  section:nth-child(3) {background: #22A7F0;}
  section:nth-child(4) {background: #F9690E;}
  section:nth-child(5) {background: #9B59B6;}
  section:nth-child(6) {background: #03C9A9;}
  section:nth-child(7) {background: #ffcc00;}
  section:nth-child(8) {background: #F9690E;}
  section:nth-child(9) {background: #F64747;}
  section:nth-child(10) {background: #22A7F0;}
  section:nth-child(11) {background: #F9690E;}
  section:nth-child(12) {background: #9B59B6;}
  section:nth-child(13) {background: #03C9A9;}
  section:nth-child(14) {background: #ffcc00;}

  .nav__wrapper {
    position: fixed;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
  }
  .nav {
    margin: 0 0 100px 30px;
  }
  .nav__counter {
    position:absolute;
    font-size: 24px;
    transition: all 0.15s ease-out;
  }
  .nav__title {
    font-size: 32px;
    font-weight: 300;
    margin: 0 0 0.25em;
    width: 300px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.3s ease-out, opacity 0.2s ease-out;
  }
  .nav__body {
    font-weight: 100;
    font-size: 18px;
    font-size: 18px;
    width: 300px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.3s ease-out, opacity 0.2s ease-out;
  }
  .nav li {
    position: relative;
    transition: all 0.3s ease-out;
    margin-bottom: 1em;
  }
  .nav li:after {
    content: "";
    display: block;
    border-left: 2px solid white;
    border-top: 2px solid white;
    height: 250px;
    width: 20px;
    position: absolute;
    left: -30px;
    top: 15px;
  }
  .nav li a {
    display: block;
    padding: 0;
    color: #fff;
    transition: all 0.15s ease-out;
  }
  .nav li a:hover {
    background-color: transparent;
    padding-left: 1em;
  }
  .nav li a:focus {
    background-color: transparent;
  }
  .nav li.active {
    pointer-events: none;
    padding-left: 1em;
  }
  .nav li.active:after {
    width: 35px;
    height: 400px;
    top: 35px;
  }
  .nav li.active .nav__counter {
      font-size: 42px;
  }
  .nav li.active .nav__title {
      height: 40px;
      opacity: 1;
      overflow: visible;
  }
  .nav li.active .nav__body {
      height: 100px;
      opacity: 1;
      overflow: visible;
  }

  .texto_resultado{
      width:50%;
      margin-left:40%;
  }

  #filtro_tematicas{
      position:fixed;
      width:40%;
      left:5%;
      top:3%;
      font-family: "Roboto Slab", serif;
      font-size:180%;
      color:white;
      /*-webkit-text-stroke: 0.5px black;*/
      background-color:transparent;
      border-style:solid;
      border-color:white;
      border-width:1px;
      border-radius:5px;
      z-index:10;
  }

  .opciones_tematica{
      color:black;
      background:transparent;
  }

  footer{
      z-index:1;
      background-color:white;
      border-style:solid none none none;
      border-color:#e60007;
      border-width:1px;
  }

  .pie{
      width:100%;
      left:0;
      top:20%;
      font-family:"Roboto Slab";
      font-size:100%;
      color:#e60007;
      text-align:center;
  }

  #bajar{
    position:fixed;
    width:4%;
    height:auto;
    left:48%;
    bottom:2%;
    background-color:transparent;
    z-index:1;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
  .wrapper {
    min-height: 100vh;
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    color: #fff;
    position: relative;
  }

  section {
      height: 100vh;
      font-size: 25px;
      font-weight: 100;
      background-color: #22A7F0;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align:left;
  }
  section:nth-child(1) {background: white;}
  section:nth-child(2) {background: #F64747;}
  section:nth-child(3) {background: #22A7F0;}
  section:nth-child(4) {background: #F9690E;}
  section:nth-child(5) {background: #9B59B6;}
  section:nth-child(6) {background: #03C9A9;}
  section:nth-child(7) {background: #ffcc00;}
  section:nth-child(8) {background: #F9690E;}
  section:nth-child(9) {background: #F64747;}
  section:nth-child(10) {background: #22A7F0;}
  section:nth-child(11) {background: #F9690E;}
  section:nth-child(12) {background: #9B59B6;}
  section:nth-child(13) {background: #03C9A9;}
  section:nth-child(14) {background: #ffcc00;}

  .nav__wrapper {
    position: fixed;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
  }
  .nav {
    margin: 0 0 100px 30px;
  }
  .nav__counter {
    position:absolute;
    font-size: 24px;
    transition: all 0.15s ease-out;
  }
  .nav__title {
    font-size: 32px;
    font-weight: 300;
    margin: 0 0 0.25em;
    width: 300px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.3s ease-out, opacity 0.2s ease-out;
  }
  .nav__body {
    font-weight: 100;
    font-size: 18px;
    font-size: 18px;
    width: 300px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.3s ease-out, opacity 0.2s ease-out;
  }
  .nav li {
    position: relative;
    transition: all 0.3s ease-out;
    margin-bottom: 1em;
  }
  .nav li:after {
    content: "";
    display: block;
    border-left: 2px solid white;
    border-top: 2px solid white;
    height: 250px;
    width: 20px;
    position: absolute;
    left: -30px;
    top: 15px;
  }
  .nav li a {
    display: block;
    padding: 0;
    color: #fff;
    transition: all 0.15s ease-out;
  }
  .nav li a:hover {
    background-color: transparent;
    padding-left: 1em;
  }
  .nav li a:focus {
    background-color: transparent;
  }
  .nav li.active {
    pointer-events: none;
    padding-left: 1em;
  }
  .nav li.active:after {
    width: 35px;
    height: 400px;
    top: 35px;
  }
  .nav li.active .nav__counter {
      font-size: 48px;
  }
  .nav li.active .nav__title {
      height: 40px;
      opacity: 1;
      overflow: visible;
  }
  .nav li.active .nav__body {
      height: 100px;
      opacity: 1;
      overflow: visible;
  }

  .texto_resultado{
      width:58%;
      margin-left:37%;
  }

  #filtro_tematicas{
      position:fixed;
      width:32%;
      left:5%;
      top:3%;
      font-family: "Roboto Slab", serif;
      font-size:180%;
      color:white;
      /*-webkit-text-stroke: 0.5px black;*/
      background-color:transparent;
      border-style:solid;
      border-color:white;
      border-width:1px;
      border-radius:5px;
      z-index:10;
  }

  .opciones_tematica{
      color:black;
      background:transparent;
  }

  footer{
      z-index:1;
      background-color:white;
      border-style:solid none none none;
      border-color:#e60007;
      border-width:1px;
  }

  .pie{
      width:100%;
      left:0;
      top:20%;
      font-family:"Roboto Slab";
      font-size:100%;
      color:#e60007;
      text-align:center;
  }

  #bajar{
    position:fixed;
    width:4%;
    height:auto;
    left:48%;
    bottom:2%;
    background-color:transparent;
    z-index:1;
  }
}

@media (min-width: 481px) and (max-width: 767px) and (orientation: portrait) {
  .wrapper {
    min-height: 100vh;
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    color: #fff;
    position: relative;
  }

  section {
      height: 100vh;
      font-size: 18px;
      font-weight: 100;
      background-color: #22A7F0;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align:left;
  }
  section:nth-child(1) {background: white;}
  section:nth-child(2) {background: #F64747;}
  section:nth-child(3) {background: #22A7F0;}
  section:nth-child(4) {background: #F9690E;}
  section:nth-child(5) {background: #9B59B6;}
  section:nth-child(6) {background: #03C9A9;}
  section:nth-child(7) {background: #ffcc00;}
  section:nth-child(8) {background: #F9690E;}
  section:nth-child(9) {background: #F64747;}
  section:nth-child(10) {background: #22A7F0;}
  section:nth-child(11) {background: #F9690E;}
  section:nth-child(12) {background: #9B59B6;}
  section:nth-child(13) {background: #03C9A9;}
  section:nth-child(14) {background: #ffcc00;}

  .nav__wrapper {
    position: fixed;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
  }
  .nav {
    margin: 0 0 100px 30px;
  }
  .nav__counter {
    position:absolute;
    font-size: 18px;
    transition: all 0.15s ease-out;
  }
  .nav__title {
    font-size: 22px;
    font-weight: 300;
    margin: 0 0 0.25em;
    width: 300px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.3s ease-out, opacity 0.2s ease-out;
  }
  .nav__body {
    font-weight: 100;
    font-size: 15px;
    width: 300px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.3s ease-out, opacity 0.2s ease-out;
  }
  .nav li {
    position: relative;
    transition: all 0.3s ease-out;
    margin-bottom: 1em;
  }
  .nav li:after {
    content: "";
    display: block;
    border-left: 2px solid white;
    border-top: 2px solid white;
    height: 250px;
    width: 20px;
    position: absolute;
    left: -30px;
    top: 15px;
  }
  .nav li a {
    display: block;
    padding: 0;
    color: #fff;
    transition: all 0.15s ease-out;
  }
  .nav li a:hover {
    background-color: transparent;
    padding-left: 1em;
  }
  .nav li a:focus {
    background-color: transparent;
  }
  .nav li.active {
    pointer-events: none;
    padding-left: 1em;
  }
  .nav li.active:after {
    width: 35px;
    height: 400px;
    top: 35px;
  }
  .nav li.active .nav__counter {
      font-size: 25px;
  }
  .nav li.active .nav__title {
      height: 40px;
      opacity: 1;
      overflow: visible;
  }
  .nav li.active .nav__body {
      height: 100px;
      opacity: 1;
      overflow: visible;
  }

  .texto_resultado{
      width:50%;
      margin-left:40%;
  }

  #filtro_tematicas{
      position:fixed;
      width:40%;
      left:5%;
      top:3%;
      font-family: "Roboto Slab", serif;
      font-size:130%;
      color:white;
      /*-webkit-text-stroke: 0.5px black;*/
      background-color:transparent;
      border-style:solid;
      border-color:white;
      border-width:1px;
      border-radius:5px;
      z-index:10;
  }

  .opciones_tematica{
      color:black;
      background:transparent;
  }

  footer{
      z-index:1;
      background-color:white;
      border-style:solid none none none;
      border-color:#e60007;
      border-width:1px;
  }

  .pie{
      width:100%;
      left:0;
      top:20%;
      font-family:"Roboto Slab";
      font-size:100%;
      color:#e60007;
      text-align:center;
  }

  #bajar{
    position:fixed;
    width:6%;
    height:auto;
    left:48%;
    bottom:4%;
    background-color:transparent;
    z-index:1;
  }
}

@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape){
  .wrapper {
    min-height: 100vh;
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    color: #fff;
    position: relative;
  }

  section {
      height: 100vh;
      font-size: 20px;
      font-weight: 100;
      background-color: #22A7F0;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align:left;
  }
  section:nth-child(1) {background: white;}
  section:nth-child(2) {background: #F64747;}
  section:nth-child(3) {background: #22A7F0;}
  section:nth-child(4) {background: #F9690E;}
  section:nth-child(5) {background: #9B59B6;}
  section:nth-child(6) {background: #03C9A9;}
  section:nth-child(7) {background: #ffcc00;}
  section:nth-child(8) {background: #F9690E;}
  section:nth-child(9) {background: #F64747;}
  section:nth-child(10) {background: #22A7F0;}
  section:nth-child(11) {background: #F9690E;}
  section:nth-child(12) {background: #9B59B6;}
  section:nth-child(13) {background: #03C9A9;}
  section:nth-child(14) {background: #ffcc00;}

  .nav__wrapper {
    position: fixed;
    height: 140%;
    padding: 30px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
  }
  .nav {
    margin: 0 0 100px 30px;
  }
  .nav__counter {
    position:absolute;
    font-size: 18px;
    transition: all 0.15s ease-out;
  }
  .nav__title {
    font-size: 32px;
    font-weight: 300;
    margin: 0 0 0.25em;
    width: 300px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.3s ease-out, opacity 0.2s ease-out;
  }
  .nav__body {
    font-weight: 100;
    font-size: 18px;
    font-size: 18px;
    width: 300px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.3s ease-out, opacity 0.2s ease-out;
  }
  .nav li {
    position: relative;
    transition: all 0.3s ease-out;
    margin-bottom: 1em;
  }
  .nav li:after {
    content: "";
    display: block;
    border-left: 2px solid white;
    border-top: 2px solid white;
    height: 250px;
    width: 20px;
    position: absolute;
    left: -30px;
    top: 15px;
  }
  .nav li a {
    display: block;
    padding: 0;
    color: #fff;
    transition: all 0.15s ease-out;
  }
  .nav li a:hover {
    background-color: transparent;
    padding-left: 1em;
  }
  .nav li a:focus {
    background-color: transparent;
  }
  .nav li.active {
    pointer-events: none;
    padding-left: 1em;
  }
  .nav li.active:after {
    width: 35px;
    height: 400px;
    top: 35px;
  }
  .nav li.active .nav__counter {
      font-size: 35px;
  }
  .nav li.active .nav__title {
      height: 40px;
      opacity: 1;
      overflow: visible;
  }
  .nav li.active .nav__body {
      height: 100px;
      opacity: 1;
      overflow: visible;
  }

  .texto_resultado{
      width:58%;
      margin-left:37%;
  }

  #filtro_tematicas{
      position:fixed;
      width:32%;
      left:5%;
      top:3%;
      font-family: "Roboto Slab", serif;
      font-size:180%;
      color:white;
      /*-webkit-text-stroke: 0.5px black;*/
      background-color:transparent;
      border-style:solid;
      border-color:white;
      border-width:1px;
      border-radius:5px;
      z-index:10;
  }

  .opciones_tematica{
      color:black;
      background:transparent;
  }

  footer{
      z-index:1;
      background-color:white;
      border-style:solid none none none;
      border-color:#e60007;
      border-width:1px;
  }

  .pie{
      width:100%;
      left:0;
      top:20%;
      font-family:"Roboto Slab";
      font-size:100%;
      color:#e60007;
      text-align:center;
  }

  #bajar{
    position:fixed;
    width:6%;
    height:auto;
    left:48%;
    bottom:4%;
    background-color:transparent;
    z-index:1;
  }
}

@media (max-width: 480px) and (orientation: portrait) {
  .wrapper {
    min-height: 100vh;
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    color: #fff;
    position: relative;
  }

  section {
      height: 100vh;
      font-size: 13px;
      font-weight: 100;
      background-color: #22A7F0;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align:left;
  }
  section:nth-child(1) {background: white;}
  section:nth-child(2) {background: #F64747;}
  section:nth-child(3) {background: #22A7F0;}
  section:nth-child(4) {background: #F9690E;}
  section:nth-child(5) {background: #9B59B6;}
  section:nth-child(6) {background: #03C9A9;}
  section:nth-child(7) {background: #ffcc00;}
  section:nth-child(8) {background: #F9690E;}
  section:nth-child(9) {background: #F64747;}
  section:nth-child(10) {background: #22A7F0;}
  section:nth-child(11) {background: #F9690E;}
  section:nth-child(12) {background: #9B59B6;}
  section:nth-child(13) {background: #03C9A9;}
  section:nth-child(14) {background: #ffcc00;}

  .nav__wrapper {
    position: fixed;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
  }
  .nav {
    margin: 0 0 70px 10px;
  }
  .nav__counter {
    position:absolute;
    font-size: 18px;
    transition: all 0.15s ease-out;
  }
  .nav__title {
    font-size: 18px;
    font-weight: 300;
    margin: 0 0 0;
    width: 300px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.3s ease-out, opacity 0.2s ease-out;
  }
  .nav__body {
    font-weight: 100;
    font-size: 10px;
    width: 300px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.3s ease-out, opacity 0.2s ease-out;
  }
  .nav li {
    position: relative;
    transition: all 0.3s ease-out;
    margin-bottom: 1em;
  }
  .nav li:after {
    content: "";
    display: block;
    border-left: 2px solid white;
    border-top: 2px solid white;
    height: 250px;
    width: 20px;
    position: absolute;
    left: -30px;
    top: 15px;
  }
  .nav li a {
    display: block;
    padding: 0;
    color: #fff;
    transition: all 0.15s ease-out;
  }
  .nav li a:hover {
    background-color: transparent;
    padding-left: 1em;
  }
  .nav li a:focus {
    background-color: transparent;
  }
  .nav li.active {
    pointer-events: none;
    padding-left: 1em;
  }
  .nav li.active:after {
    width: 35px;
    height: 400px;
    top: 35px;
  }
  .nav li.active .nav__counter {
      font-size: 22px;
  }
  .nav li.active .nav__title {
      height: 20px;
      opacity: 1;
      overflow: visible;
  }
  .nav li.active .nav__body {
      height: 100px;
      opacity: 1;
      overflow: visible;
  }

  .texto_resultado{
      width:50%;
      margin-left:40%;
  }

  #filtro_tematicas{
      position:fixed;
      width:40%;
      left:5%;
      top:3%;
      font-family: "Roboto Slab", serif;
      font-size:130%;
      color:white;
      /*-webkit-text-stroke: 0.5px black;*/
      background-color:transparent;
      border-style:solid;
      border-color:white;
      border-width:1px;
      border-radius:5px;
      z-index:10;
  }

  .opciones_tematica{
      color:black;
      background:transparent;
  }

  footer{
      z-index:1;
      background-color:white;
      border-style:solid none none none;
      border-color:#e60007;
      border-width:1px;
  }

  .pie{
      width:100%;
      left:0;
      top:20%;
      font-family:"Roboto Slab";
      font-size:100%;
      color:#e60007;
      text-align:center;
  }

  #bajar{
    position:fixed;
    width:6%;
    height:auto;
    left:48%;
    bottom:4%;
    background-color:transparent;
    z-index:1;
  }
}

@media (max-width: 480px) and (orientation: landscape) {
  .wrapper {
    min-height: 100vh;
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    color: #fff;
    position: relative;
  }

  section {
      height: 100vh;
      font-size: 13px;
      font-weight: 100;
      background-color: #22A7F0;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align:left;
  }
  section:nth-child(1) {background: white;}
  section:nth-child(2) {background: #F64747;}
  section:nth-child(3) {background: #22A7F0;}
  section:nth-child(4) {background: #F9690E;}
  section:nth-child(5) {background: #9B59B6;}
  section:nth-child(6) {background: #03C9A9;}
  section:nth-child(7) {background: #ffcc00;}
  section:nth-child(8) {background: #F9690E;}
  section:nth-child(9) {background: #F64747;}
  section:nth-child(10) {background: #22A7F0;}
  section:nth-child(11) {background: #F9690E;}
  section:nth-child(12) {background: #9B59B6;}
  section:nth-child(13) {background: #03C9A9;}
  section:nth-child(14) {background: #ffcc00;}

  .nav__wrapper {
    position: fixed;
    height: 170%;
    padding: 5px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
  }
  .nav {
    margin: 0 0 100px 30px;
  }
  .nav__counter {
    position:absolute;
    font-size: 18px;
    transition: all 0.15s ease-out;
  }
  .nav__title {
    font-size: 20px;
    font-weight: 300;
    margin: 0 0 0.25em;
    width: 300px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.3s ease-out, opacity 0.2s ease-out;
  }
  .nav__body {
    font-weight: 100;
    font-size: 13px;
    width: 300px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.3s ease-out, opacity 0.2s ease-out;
  }
  .nav li {
    position: relative;
    transition: all 0.3s ease-out;
    margin-bottom: 1em;
  }
  .nav li:after {
    content: "";
    display: block;
    border-left: 2px solid white;
    border-top: 2px solid white;
    height: 250px;
    width: 20px;
    position: absolute;
    left: -30px;
    top: 15px;
  }
  .nav li a {
    display: block;
    padding: 0;
    color: #fff;
    transition: all 0.15s ease-out;
  }
  .nav li a:hover {
    background-color: transparent;
    padding-left: 1em;
  }
  .nav li a:focus {
    background-color: transparent;
  }
  .nav li.active {
    pointer-events: none;
    padding-left: 1em;
  }
  .nav li.active:after {
    width: 35px;
    height: 400px;
    top: 35px;
  }
  .nav li.active .nav__counter {
      font-size: 24px;
  }
  .nav li.active .nav__title {
      height: 18px;
      opacity: 1;
      overflow: visible;
  }
  .nav li.active .nav__body {
      height: 100px;
      opacity: 1;
      overflow: visible;
  }

  .texto_resultado{
      width:58%;
      margin-left:37%;
  }

  #filtro_tematicas{
      position:fixed;
      width:32%;
      left:5%;
      top:3%;
      font-family: "Roboto Slab", serif;
      font-size:100%;
      color:white;
      /*-webkit-text-stroke: 0.5px black;*/
      background-color:transparent;
      border-style:solid;
      border-color:white;
      border-width:1px;
      border-radius:5px;
      z-index:10;
  }

  .opciones_tematica{
      color:black;
      background:transparent;
  }

  footer{
      z-index:1;
      background-color:white;
      border-style:solid none none none;
      border-color:#e60007;
      border-width:1px;
  }

  .pie{
      width:100%;
      left:0;
      top:20%;
      font-family:"Roboto Slab";
      font-size:100%;
      color:#e60007;
      text-align:center;
  }

  #bajar{
    position:fixed;
    width:6%;
    height:auto;
    left:48%;
    bottom:4%;
    background-color:transparent;
    z-index:1;
  }
}